<% share_image_form = ShareImageForm.new %>

<div class="js-share-image-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="shareImageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="shareImageModalLabel">Share Image</h4>
      </div>
      <div class="modal-body">
        <div class="image-container">
          <%= image_tag nil, class:'js-share-image-preview image-container__preview' %>
        </div>

        <hr>

        <%= simple_form_for share_image_form,
          url: share_image_path,
          class: 'js-share-image-form' do |f| %>
          <%= f.input_field :image_id, class: 'js-image-id', type: 'hidden' %>
          <%= f.input :recipient, label: 'Recipient:', input_html: { class: 'js-image-recipient' } %>
          <%= f.input :subject, label: 'Subject:', input_html: { class: 'js-email-subject' } %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="js-send-image btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
