<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="sign-up-form__header">Sign up</h1>
    <%= simple_form_for @user do |f| %>
      <%= f.input :name, label: 'Name' %>
      <%= f.input :email, label: 'Email' %>
      <%= f.input :password, label: 'Password' %>
      <%= f.input :password_confirmation, label: 'Confirmation', required: true %>
      <%= f.button :submit, value: 'Sign up', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>
