<!DOCTYPE html>
<html>
<head>
  <title>LiImageShare</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% case %>
  <% when flash[:error].present? %>
    <p><%= flash[:error] %></p>
  <% when flash[:notice].present? %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>

  <%= yield :javascript %>
</body>
</html>
